# Firebase Core
-keep class com.google.firebase.** { *; }
-keep class com.google.android.gms.** { *; }
-dontwarn com.google.firebase.**
-dontwarn com.google.android.gms.**

# Firebase Crashlytics
-keepattributes SourceFile,LineNumberTable
-keep public class * extends java.lang.Exception
-keep class com.google.firebase.crashlytics.** { *; }

# Firebase Cloud Messaging
-keep class com.google.firebase.messaging.** { *; }
-keep class com.google.firebase.iid.** { *; }

# Plugin.FirebasePushNotification
-keep class Plugin.FirebasePushNotification.** { *; }
-keep class crc644240367459e0d5c5.** { *; }

# MAUI
-keep class Microsoft.Maui.** { *; }
-keep class Microsoft.Maui.Controls.** { *; }
-keep class Microsoft.Maui.Graphics.** { *; }

# AndroidX
-keep class androidx.core.** { *; }
-keep class androidx.appcompat.** { *; }