<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>SOSpect</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.apple.developer.associated-domains</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>appleauth</string>
			</array>
		</dict>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-gfdsgfdsgfdsgfd</string>
	<key>CFBundleIdentifier</key>
	<string>com.wescotcorp.sospect</string>
	<key>CFBundleVersion</key>
	<string>34</string>
	<key>CFBundleShortVersionString</key>
	<string>34</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>SOSpect</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sospect requerira el uso de su ubicación para la gestión de alarmas</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Sospect requerira el uso de su ubicación para la gestión de alarmas</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Sospect requerira el uso de su ubicación para la gestión de alarmas</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost:7079</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Font Awesome 6 Free-Regular-400.otf</string>
		<string>icomoon.ttf</string>
	</array>
</dict>
</plist>
